<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMLife - Especialidades</title>
    <link rel="stylesheet" href="/css/especialidades.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <a href="/"><img src="/assets/logo.png" alt="logo CMLife"></a>
        <nav>
            <ul class="nav-bar">
                <li><a href="/#main-about">Sobre</a></li>
                <li><a href="/#main-specialties">Especialidades</a></li>
                <li><a href="/#main-contact">Contato</a></li>
            </ul>
            <a id="hamburguer-menu"><img src="/assets/menu.svg"></a>
            <div class="menu-navbar">
                <ul>
                    <li><a href="/#main-about">Sobre</a></li>
                    <li><a href="/#main-specialties">Especialidades</a></li>
                    <li><a href="/#main-contact">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-link">
        <% for(let specialty of hoursList) { %>
        <a class="link-specialties" href="#<%= specialty.specialty %>"><%= specialty.specialty %></a>
        <% } %>
        </div>
        <h3>Conheça nossas especialidades</h3>
        <% for(let specialty of hoursList) { %>
        <section id="#<%= specialty.specialty %>">
            <h4><%= specialty.specialty %></h4>
            <p><%= specialty.description %></p>
            <div class="hours-table">
                <img class="img-table" src="<%= specialty.urlImage %>">

            <table>
                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Médico(a)</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let hour of specialty.hours) { %>
                    <tr>
                        <td><%= hour.days %></td>
                        <td><%= hour.hour %></td>
                        <td><%= hour.doctor %></td>
                    </tr>
                    <% } %>
                </tbody>
                
            </table>
            </div>
        </section>
        <% } %>

    </main>

    <footer>
        <img src="/assets/logo.png" alt="logo CMLife">
        <span>Telefone e WhatsApp: (21) 99966-5555</span>
        <span>Endereço: Av. Ayrton Senna, 3000 - Barra da Tijuca, Rio de Janeiro</span>
        <span>Página fictícia - Desenvolvida por <a href="https://github.com/renanppcosta">Renan Costa</a></span>
    </footer>
    <script src="/js/menu.js"></script>
</body>
</html>